<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.twc.shanyan">
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 闪验(区分移动网络或WiFi网络)-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 闪验(允许程序访问WiFi网络状态信息) -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 闪验(设备在WiFi跟数据双开时，强行切换使用数据网络) -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 闪验(设备在WiFi跟数据双开时，强行切换使用) -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application>
        <!-- 闪验 -->
        <activity
            android:name="com.chuanglan.shanyan_sdk.view.CmccLoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity-alias
            android:name="com.cmic.gen.sdk.view.GenLoginAuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:targetActivity="com.chuanglan.shanyan_sdk.view.CmccLoginActivity" />

        <activity
            android:name="com.chuanglan.shanyan_sdk.view.ShanYanOneKeyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chuanglan.shanyan_sdk.view.CTCCPrivacyProtocolActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>
</manifest>